#vis1 {left: 100px; right: 100px;}

#vis2 {left: 100px; right: 100px;}

#vis3 {left: 100px; right: 100px;}

#vis4 {left: 100px; right: 100px;}

body {font-family: 'Source Sans Pro', sans-serif;}

.hr3 {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, #DDD, transparent);
    padding-top: 5px;
}
